@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Plaster&family=Poppins:wght@300;400&family=Quicksand:wght@300&display=swap');

.themes-section{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 0 0 10px inherit;
    margin: 2rem;
}
.themes-section>h2{
    color: aliceblue;
    text-decoration: bold;
    font-size: 2.5rem;
    text-align: center;
    font-family: Kode Mono;
    font-weight: 800;
    margin: 2rem;
}
.themes-section>.themes-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.5rem;
}
.themes-holder>.theme-tile{
    width: 150px;
    height: 150px;
    margin: 1rem;
    padding: 2rem;
    font-size: large;
    font-family: Kode Mono;
    background-color: #010a01;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 0.5rem #bc13fe,
              0 0 0.1rem #bc13fe,
              0 0 0.4rem #bc13fe,
              inset 0 0 0.8rem #bc13fe;
}
.themes-holder>.theme-tile>p{
    color: #fff;
    text-shadow:
        0 0 7px #00d0ff,
        0 0 10px #ffffff00,
        0 0 21px #000000a4,
        0 0 42px rgba(0, 68, 255, 0),
        0 0 82px rgb(1, 11, 36),
        0 0 92px rgb(2, 17, 37),
        0 0 102px rgb(0, 0, 0),
        0 0 151px rgb(0, 0, 0);
    scale: 1.2;
}