.background_graphics{
    overflow: clip;
    position: fixed;
    width: 100svw;
    margin-top: auto;
    bottom: 0;
    margin-bottom: -10px;
    z-index: -9;
    /* filter: drop-shadow(10px 30px 20px rgb(255, 145, 226)); */
    /* box-shadow: 10px 30px 20px rgb(255, 145, 226); */
}
.background_graphics>img{
    width: 100%;
}
.background{
    overflow: clip;
    position: fixed;
    width: 100svw;
    z-index: -11;
}
.background>img{
    height: 100svh;
    min-width: 100svw;
}
@media (max-width: 960px) {
    .background_graphics{
        bottom: 0;
    }
    .background_graphics>img{
        scale: 1.5;
    }
}


@media (max-width: 750px) {
    .background_graphics{
        bottom: 0;
    }
    .background_graphics>img{
        scale: 2;
    }
}

@media (max-width: 480px) {
    .background_graphics{
        bottom: 0;
        /* scale: 3; */
    }
    .background_graphics>img{
        scale: 3;
    }
}