.carousel-container {
	overflow: hidden;
	position: relative;
	height: 100%;
	border-color: #4b5563;
	width: 100%;
}

.carousel-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	&:hover {
		transform: scale(0.9);
		box-shadow:
			5px 5px 8px rgba(222, 222, 222, 0.362),
			10px 10px 8px rgba(152, 133, 133, 0.392),
			15px 15px 8px rgba(139, 154, 139, 0.303);
	}
	border-radius: 20%;
	background: rgb(41, 40, 40);
}

.carousel-card > img {
	height: 80%;
	width: 80%;
	border-radius: 10%;
}

.carousel-track {
	display: flex;
	position: absolute;
	left: 0;
	justify-content: center;
	align-items: center;
	height: 80px;
	gap: 16px;
	width: calc(200% + 16px); /* Account for gaps */
	animation: slide 20s linear infinite;
}

.carousel-track:hover {
	animation-play-state: paused;
}

.carousel-item {
	flex: 0 0 auto; /* Ensure items don't shrink or grow */
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%); /* Move by half the total width */
	}
}
