@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  /* overflow-y: hidden; */
  width: 100%;
  min-height: 100svh;
  /* background-image: url(/images/Home\ Page.jpg); */
  /* background-color: black; */
  position: relative;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .shadow-custom-glow {
    box-shadow: 
      0 0 0.2rem #fff, 
      0 0 0.2rem #fff, 
      0 0 0.5rem #bc13fe, 
      0 0 0.5rem #bc13fe, 
      0 0 0.5rem #bc13fe, 
      inset 0 0 0.5rem #bc13fe;
  }
}

@layer utilities {
  .arrow::before {
    content: '';
    height: 100%;
    aspect-ratio: 1/1;
    background: rgba(0, 0, 0, 0.468);
    backdrop-filter: blur(100px);
    @apply shadow-custom-glow absolute rounded-full p-[0.4rem];
    left: 50%;
    transform: translate(-50%, -20%);
  }
}


