*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.App {
  background: #242426;
}

.container {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.my-vertical-progress {
  --bookmark-v-gap: 40px;
  --bookmark-l-bg: hsl(229.1, 10.6%, 30.8%);
  --bookmark-r-bg: hsl(229.1, 10.6%, 50.8%);
  --marker-size: 30px;
  --marker-bg: hsl(180, 16%, 15%);
  --thread-bg: hsl(180, 88%, 16%);
  max-width: 700px;
  margin: 0 auto;
}

.my-vertical-progress .timeline-item {
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
}

@media screen and (max-width: 640px) {
  .timeline-wrapper {
    margin: 0 20px;
  }
}
