@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    position: relative;
    background-image: url(./assets/background.svg);
    background-size: cover;
    background-attachment: fixed;
}
