@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'blanka';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Blanka-Regular.otf) format('woff2');
  }
}

@layer base {
  @font-face {
    font-family: 'porter-sans-block';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/porter-sans-inline-block.otf) format('woff2');
  }
}

body {
  position: relative;
  background-image: url(./assets/background.svg);
  background-size: cover;
  background-attachment: fixed;
}