@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Plaster&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Plaster&family=Poppins:wght@300;400&family=Quicksand:wght@300&display=swap');
.about-event-container{
    width: 100%;
    height: min-content;
    border-radius: 8px;
    padding: 0 3rem 3rem 3rem;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.2);
    color: #d5d5d5;
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}
.about-event-container>h2{
    padding: 2rem;
}
.about-event-container>h2>span{
    color: rgba(105, 50, 108, 0.53);
    font-family: Pirata One;
    font-size: 2rem;
    font-weight: 100;
    text-shadow: 0px 0px pink;
    letter-spacing: 2px;
    transition-duration: 1500ms;
}

.about-event-container>.event-glimpses{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.event-glimpses>.about-event{
    min-width: 300px;
    height: 24rem;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 10px;
    flex-basis: 45%;
    margin-bottom: 1rem;
    overflow-y: auto;
}
.event-glimpses>.about-event::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.42);
}
.event-glimpses>.about-event::-webkit-scrollbar{
	width: 12px;
	background-color: rgba(0, 0, 0, 0.42);
}
.event-glimpses>.about-event::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffffff35;
    backdrop-filter: blur(20px);
}

.event-glimpses>.about-event>.answer{
    color: #E2E8F0;
    font-family: Kode Mono;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 140% */
    margin-top: 2rem;
}
.event-glimpses>.glimpses{
    min-width: 300px;
    height: 24rem;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.427);
    border-radius: 10px;
    flex-basis: 45%;
}

.event-glimpses>.about-event>.question_title{
    color: #E2E8F0;
    background-color: blueviolet;
    font-family: Kode Mono;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    margin-bottom: 2rem;
}

.glimpses>.image-holder{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 80%;
    text-align: center;
    display: flex;
}
.glimpses>.image-holder>img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    transition-duration: 1500s;
}

@media (max-width: 480px) {
    .about-event-container{
        scale: 0.9;
    }
    .event-glimpses>.about-event{
        font-size:medium;
    }
    .event-glimpses>.about-event>.answer{
        font-size:medium;
    }
}

@media (max-width: 320px) {
    .event-glimpses>.about-event{
        font-size: x-small;

    }
    .event-glimpses>.about-event>.answer{
        font-size: x-small;
    }
}